.error{
    .location{
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        background-color: rgb(216, 213, 213);
        color:$primary;
        font-size: 2rem;
    }
    h6{
        font-size: 1.2rem;
        margin: 1rem 0;
    }
        
}